.review {
    margin-bottom: 20px;
  }
  
  .review-author {
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    font-family: "Arial", sans-serif;
  }
  
  .review-content {
    padding:50px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    font-family: "Times New Roman", serif;
  }
  